<!DOCTYPE html>  
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  
 xmlns:th="http://www.thymeleaf.org">
    <head> <title>Reset Password</title> </head>
    <body>
        <center>
            <h2>Enter new password:</h2>
            <form action="#" th:action="@{/addRole}" th:object="${employee}" method="post">
                <table>
                    <tr>
                        <td><label for="id">Email</label></td>
                        <td><input id="id" type="text" name="id" readonly></input></td>
                    </tr>
                    <tr>
                        <td><label for="ide">Password</label></td>
                        <td><input  type="text" th:text="id" name="id"></input></td>
                    </tr>
                    <tr>
                        <td><input type="reset" value="Clear"/></td>
                        <td><input type="submit" value="Submit"></input></td>
                    </tr>
                </table>
            </form>
        </center>
    </body>
</html>  