<!doctype html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dashboard</title>
        <meta name="description" content="Sufee Admin - HTML5 Admin Template">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" th:href="@{/dist/img/apple-icon.png}">
        <link rel="shortcut icon" th:href="@{/dist/img/favicon.ico}">



        <link rel="stylesheet" th:href="@{/vendors/bootstrap/dist/css/bootstrap.min.css}">
        <link rel="stylesheet" th:href="@{/vendors/font-awesome/css/font-awesome.min.css}">
        <link rel="stylesheet" th:href="@{/vendors/themify-icons/css/themify-icons.css}">
        <link rel="stylesheet" th:href="@{/vendors/flag-icon-css/css/flag-icon.min.css}">
        <link rel="stylesheet" th:href="@{/vendors/selectFX/css/cs-skin-elastic.css}">
        <link rel="stylesheet" th:href="@{/vendors/jqvmap/dist/jqvmap.min.css}">

        <link rel="stylesheet" th:href="@{/assets/css/style.css}">

        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>

        <link rel="stylesheet" th:href="@{/vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css}">
        <link rel="stylesheet" th:href="@{/vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css}">

    </head>

    <body>
        <!-- Left Panel -->

        <aside id="left-panel" class="left-panel">
            <nav class="navbar navbar-expand-sm navbar-default">

                <!--                <div class="navbar-header">
                                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu" aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                                        <i class="fa fa-bars"></i>
                                    </button>
                                    <a class="navbar-brand" href="./"><img th:src="@{/images/logo.png}" alt="Logo"></a>
                                    <a class="navbar-brand hidden" href="./"><img th:src="@{/images/logo2.png}" alt="Logo"></a>
                                </div>-->

                <div id="main-menu" class="main-menu collapse navbar-collapse">
                    <ul class="nav navbar-nav">
                        <li>
                            <a th:href="@{/dashboard}"> WELCOME TO SIM ASSET!</a>
                        </li>
                        <li>
                            <a th:href="@{/dashboard}"> <i class="menu-icon fa fa-dashboard"></i>Dashboard </a>
                        </li>
                        <h3 class="menu-title">MENU</h3><!-- /.menu-title -->
                        <li>
                            <a href="widgets.html"> <i class="menu-icon fa fa-archive"></i>Asset Data</a>
                        </li>
                        <li>
                            <a href="widgets.html"> <i class="menu-icon fa fa-book"></i>Submission of Asset</a>
                        </li>
                        <li>
                            <a href="widgets.html"> <i class="menu-icon fa fa-file-word-o"></i>Report</a>
                        </li>
                        <li>
                            <a href="widgets.html"> <i class="menu-icon fa fa-cog"></i>Settings</a>
                        </li>
                        <li class="menu-item-has-children dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="menu-icon fa fa-table"></i>Tables</a>
                            <ul class="sub-menu children dropdown-menu">
                                <li><i class="fa fa-puzzle-piece"></i><a th:href="@{/religion}">Religion</a></li>
                                <li><i class="fa fa-id-badge"></i><a th:href="@{/job}">Job</a></li>
                                <li><i class="fa fa-bars"></i><a th:href="@{/address}">Address</a></li>
                                <li><i class="fa fa-share-square-o"></i><a th:href="@{/district}">District</a></li>
                                <li><i class="fa fa-id-card-o"></i><a th:href="@{/employee}">Employee</a></li>
                                <li><i class="fa fa-exclamation-triangle"></i><a th:href="@{/subdistrict}">Subdistrict</a></li>
                                <li><i class="fa fa-spinner"></i><a th:href="@{/province}">Province</a></li>
                                <li><i class="fa fa-fire"></i><a th:href="@{/accessemp}">Access</a></li>
                                <li><i class="fa fa-book"></i><a th:href="@{/department}">Department</a></li>
                                <li><i class="fa fa-th"></i><a th:href="@{/job}">Grids</a></li>
                                <li><i class="fa fa-file-word-o"></i><a th:href="@{/job}">Typography</a></li>
                            </ul>
                        </li>

                    </ul>
                </div><!-- /.navbar-collapse -->
            </nav>
        </aside><!-- /#left-panel -->

        <!-- Left Panel -->

        <!-- Right Panel -->

        <div id="right-panel" class="right-panel">

            <!-- Header-->
            <header id="header" class="header">

                <div class="header-menu">

                    <div class="col-sm-7">
                        <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                        <div class="header-left">


                            <div class="dropdown for-notification">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="notification" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="fa fa-bell"></i>
                                    <span class="count bg-danger">5</span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="notification">
                                    <p class="red">You have 3 Notification</p>
                                    <a class="dropdown-item media bg-flat-color-1" href="#">
                                        <i class="fa fa-check"></i>
                                        <p>Server #1 overloaded.</p>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-4" href="#">
                                        <i class="fa fa-info"></i>
                                        <p>Server #2 overloaded.</p>
                                    </a>
                                    <a class="dropdown-item media bg-flat-color-5" href="#">
                                        <i class="fa fa-warning"></i>
                                        <p>Server #3 overloaded.</p>
                                    </a>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-sm-5">
                    <div class="user-area dropdown float-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="user-avatar rounded-circle" th:src="@{/images/admin.jpg}" alt="User Avatar">
                        </a>

                        <div class="user-menu dropdown-menu">
                            <a class="nav-link" href="#"><i class="fa fa-user"></i> My Profile</a>

                            <a class="nav-link" href="#"><i class="fa fa-user"></i> Notifications <span class="count">13</span></a>

                            <a class="nav-link" href="#"><i class="fa fa-cog"></i> Settings</a>

                            <a class="nav-link" href="#"><i class="fa fa-power-off"></i> Logout</a>
                        </div>
                    </div>

                </div>


            </header><!-- /header -->
            <!-- Header-->

            <div class="breadcrumbs">
                <div class="col-sm-4">
                    <div class="page-header float-left">
                        <div class="page-title">
                            <h1>Dashboard</h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-8">
                    <div class="page-header float-right">
                        <div class="page-title">
                            <ol class="breadcrumb text-right">
                                <li><a href="#">Dashboard</a></li>
                                <li><a href="#" class="disabled">Tables</a></li>
                                <li><a href="#">Employee</a></li>

                            </ol>
                        </div>
                    </div>
                </div>
            </div>

            <div class="content mt-3">
                <div class="animated fadeIn">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="card">
                                <div class="card-header">
                                    <strong>Add User</strong> Form
                                </div>
                                <div class="card-body card-block">
                                    <form th:action="@{/register}" method="post" class="form-horizontal">
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="id" class=" form-control-label">EmployeeID</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="id" name="id" placeholder="Enter Employee ID..." class="form-control"><span class="help-block">Please enter Employee ID</span></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="firstName" class=" form-control-label">First Name</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="firstName" name="firstName" placeholder="Enter First Name..." class="form-control"><span class="help-block">Please enter your first name</span></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="lastName" class=" form-control-label">Last Name</label></div>
                                            <div class="col-12 col-md-9"><input type="text" id="lastName" name="lastName" placeholder="Enter Last Name..." class="form-control"><span class="help-block">Please enter your last name</span></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="email" class=" form-control-label">Email</label></div>
                                            <div class="col-12 col-md-9"><input type="email" id="email" name="email" placeholder="Enter Email..." class="form-control"><span class="help-block">Please enter your email</span></div>
                                        </div>
                                       
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="dateofbirth" class=" form-control-label">Date of Birth</label></div>
                                            <div class="col-12 col-md-9"><input type="date" id="dateofbirth" name="dateofbirth" placeholder="Enter Date of Birth..." class="form-control"><span class="help-block">Please enter your date of birth</span></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="hiredate" class=" form-control-label">Hire Date</label></div>
                                            <div class="col-12 col-md-9"><input type="date" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control"><span class="help-block">Please enter your email</span></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="hf-password" class=" form-control-label">Password</label></div>
                                            <div class="col-12 col-md-9"><input type="password" id="hf-password" name="hf-password" placeholder="Enter Password..." class="form-control"><span class="help-block">Please enter your password</span></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="hf-password" class=" form-control-label">Job ID</label></div>
                                            <div class="col-12 col-md-9"><input type="password" id="hf-password" name="hf-password" placeholder="Enter Password..." class="form-control"><span class="help-block">Please enter your password</span></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Address ID</label></div>
                                            <div class="col-12 col-md-9"><input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control"><span class="help-block">Please enter your email</span></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="hf-password" class=" form-control-label">Religion ID</label></div>
                                            <div class="col-12 col-md-9"><input type="password" id="hf-password" name="hf-password" placeholder="Enter Password..." class="form-control"><span class="help-block">Please enter your password</span></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="hf-email" class=" form-control-label">Manager ID</label></div>
                                            <div class="col-12 col-md-9"><input type="email" id="hf-email" name="hf-email" placeholder="Enter Email..." class="form-control"><span class="help-block">Please enter your email</span></div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3"><label for="hf-password" class=" form-control-label">Department ID</label></div>
                                            <div class="col-12 col-md-9"><input type="password" id="hf-password" name="hf-password" placeholder="Enter Password..." class="form-control"><span class="help-block">Please enter your password</span></div>
                                        </div>
                                    </form>
                                </div>
                                <div class="card-footer">
                                    <button type="submit" class="btn btn-primary btn-sm">
                                        <i class="fa fa-dot-circle-o"></i> Submit
                                    </button>
                                    <button type="reset" class="btn btn-danger btn-sm">
                                        <i class="fa fa-ban"></i> Reset
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>

        <script th:src="@{/vendors/jquery/dist/jquery.min.js}"></script>
        <script th:src="@{/vendors/popper.js/dist/umd/popper.min.js}"></script>
        <script th:src="@{/vendors/bootstrap/dist/js/bootstrap.min.js}"></script>
        <script th:src="@{/assets/js/main.js}"></script>

        <script th:src="@{/vendors/chart.js/dist/Chart.bundle.min.js}"></script>
        <script th:src="@{/assets/js/dashboard.js}"></script>
        <script th:src="@{/assets/js/widgets.js}"></script>
        <script th:src="@{/vendors/jqvmap/dist/jquery.vmap.min.js}"></script>
        <script th:src="@{/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js}"></script>
        <script th:src="@{/vendors/jqvmap/dist/maps/jquery.vmap.world.js}"></script>

        <script th:src="@{/vendors/datatables.net/js/jquery.dataTables.min.js}"></script>
        <script th:src="@{/vendors/datatables.net-buttons/js/buttons.html5.min.js}"></script>
        <script th:src="@{/vendors/datatables.net-buttons/js/buttons.print.min.js}"></script>
        <script th:src="@{/vendors/datatables.net-buttons/js/buttons.colVis.min.js}"></script>
        <script th:src="@{/assets/js/init-scripts/data-table/datatables-init.js}"></script>

        <script>
            (function ($) {
                "use strict";

                jQuery('#vmap').vectorMap({
                    map: 'world_en',
                    backgroundColor: null,
                    color: '#ffffff',
                    hoverOpacity: 0.7,
                    selectedColor: '#1de9b6',
                    enableZoom: true,
                    showTooltip: true,
                    values: sample_data,
                    scaleColors: ['#1de9b6', '#03a9f5'],
                    normalizeFunction: 'polynomial'
                });
            })(jQuery);
        </script>

    </body>

</html>
